{{ define "shares" }}
<div class="addthis_inline_share_toolbox"></div>
{{ end }}
{{ define "scripts" }}{{ end }}
{{ define "head" }}{{ end }}
{{ define "footer" }}
	<footer>
		<hr/>
		Artwork by <a href='https://twitter.com/ashleymcnamara' target='_blank'>Ashley McNamara</a><br />inspired by <a href='http://reneefrench.blogspot.co.uk/' target='_blank'>Renee French</a><br />
		Web app by <a href='https://twitter.com/matryer' target='_blank'>Mat Ryer</a>
		<hr>
		<a href='https://github.com/matryer/gopherize.me'>View on GitHub</a>
		-
		<a href='/branding'>Add your brand</a>
	</footer>
{{ end }}
{{ define "title" }}Gopherize.me - A Gopher pic that's as unique as you{{ end }}
{{ define "layout" -}}
<html>
<head>
	<title>{{ template "title" . }}</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/app.css?cb={{ .CacheBuster }}'>
	{{ template "head" . }}
</head>
<body>

	{{ template "content" . }}

	<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
	<script src='/static/humanize.min.js'></script>
	{{ template "scripts" . }}
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-588b6623db75425e"></script> 
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-90940600-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
{{- end }}